<div class="hero-section" id="product" class="product">
  <div class="container nopadding">
    <!-- <div class="col-md-3 hero-content"> -->
    <!-- <img class="img-responsive" src="assets/screenshots/hexagon.png" alt="SENAITE Screenshot" /> -->
    <!-- </div> -->
    <div class="col-md-12">
      <div class="hero-content">
        <h1 class="wow fadeInUp">Open Source LIMS/LIS Project</h1>

        <p class="wow fadeInUp" data-wow-delay="0.2s">
          <a href="https://github.com/senaite" target="_blank">SENAITE</a> - Enterprise Laboratory Information Management System
        </p>


        <div class="sub-form wow fadeInUp" data-wow-delay="0.3s">
          <form id="subscribe"
                class="formee form-inline"
                action="https://sourceforge.net/projects/senaite/lists/senaite-users"
                method="GET">
            <div class="form-group">
              <input name="email" id="email" type="text" class="form-control" />
            </div>
            <input class="right inputnew form-control" type="submit" title="Send" value="Subscribe to the SENAITE Users List"/>
          </form>
          <div id="response"></div>
        </div>

        <hr class="sub-form wow fadeInUp" data-wow-delay="0.4s"/>

        <a class="btn btn-default btn-action wow fadeInUp"
           data-wow-delay="0.5s"
           target="_blank"
           href="https://community.senaite.org">
          <i class="ion ion-ios-chatboxes"></i>
          Sign up to the community forum
        </a>

        <a class="btn btn-default btn-action wow fadeInUp"
           data-wow-delay="0.5s"
           target="_blank"
           href="https://github.com/senaite">
          <i class="ion ion-social-github"></i>
          Visit the Project Page
        </a>

      </div>
    </div>
  </div>
</div>
