<div class="hero-section" id="product" class="product">
  <div class="container nopadding">
    <!-- <div class="col-md-3 hero-content"> -->
    <!-- <img class="img-responsive" src="assets/screenshots/hexagon.png" alt="SENAITE Screenshot" /> -->
    <!-- </div> -->
    <div class="col-md-12">
      <div class="hero-content">
        <h1 class="wow fadeInUp">Open Source LIMS/LIS Project</h1>

        <p class="wow fadeInUp" data-wow-delay="0.2s">
          <a href="https://github.com/senaite" target="_blank">SENAITE</a> - professional, open source LIMS/LIS software
        </p>

        <div class="sub-form wow fadeInUp" data-wow-delay="0.3s">
          <form id="subscribe"
                class="formee form-inline"
                action="https://sourceforge.net/projects/senaite/lists/senaite-users"
                method="GET">
            <div class="form-group">
              <input name="email" id="email" type="text" class="form-control" />
            </div>
            <input class="right inputnew form-control" type="submit" title="Send" value="Subscribe to SENAITE User List"/>
          </form>
          <div id="response"></div>
        </div>

        <a class="btn btn-default btn-action stress popup wow fadeInUp"
          data-wow-delay="0.4s"
          target="_blank"
          href="https://community.senaite.org/">
          Sign up in the community forum
        </a>

        <a class="btn btn-default btn-action popup wow fadeInUp"
          data-wow-delay="0.4s"
          target="_blank"
          href="https://github.com/senaite">
          Visit the Project Page
        </a>

      </div>
    </div>
  </div>
</div>
