<div class="hero-section" id="product">
  <div class="container nopadding">
    <div class="col-md-4">
      <img class="img-responsive wow fadeIn" src="assets/screenshots/hexagon.png" alt="SENAITE Screenshot" />
    </div>
    <div class="col-md-8">
      <div class="hero-content">
        <h1 class="wow fadeInUp" data-wow-delay="0s">Next Generation LIMS</h1>
        <p class="wow fadeInUp" data-wow-delay="0.2s">
          The <a href="https://github.com/senaite/senaite.lims" target="_blank">SENAITE Project</a> provides
          a complete new and modern way to interact with <a href="https://bikalims.org" target="_blank">Bika LIMS</a>.
        </p>
        <a class="btn btn-primary btn-action popup wow fadeInUp"
           data-wow-delay="0.4s"
           target="_blank"
           href="https://github.com/senaite/senaite.lims">
          Visit the GitHub Project Page
        </a>
      </div>
    </div>
  </div>
</div>
