.navbar {
    background-color: white;
}
#product {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
                url(../images/bg.jpg) no-repeat center center;
}
#product h1 {
    font-weight: 500;
    color: white;
}
#product p {
    color: white;
}
#product a {
    color: white;
    font-weight: bold;
}
.product .btn {
    color: white;
    border-color: white;
}
.footer p, .footer a {
    color: #A1A1A1;
}
.providers {
    color: black;
}

.product .feature-sub {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(146, 127, 84, 0.99));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0 150px 0;
}

.team {
    padding: 150px 0 150px 0;
    text-align: center;
    background: #F4F4F4;
}
