<div id="pricing" class="pricing">
  <div class="container">
    <div class="col-md-6">
      <div class="pricing-content">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">A1 Bluetooth Speakers</h1>
        <h4 class="wow fadeInUp" data-wow-delay="0.2s">Android and iOS Compatible</h4>
        <p class="wow fadeInUp" data-wow-delay="0.3s">Sleek and Elegant Bluetooth Speakers you'll love to carry around.
          Order and Get them for a cool price on Amazon today.</p>
        <div class="btn-buy">
          <a href="#"><img class="img-responsive wow fadeIn" data-wow-delay="0.4s" src="assets/logos/amazon_logo.png" width="200" alt="Buy" /></a>
        </div>
        <div class="price-tag">
          <h2 class="wow fadeInUp" data-wow-delay="0.5s">at just $99.98</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-responsive wow fadeIn" src="assets/images/pricing_image.jpg" alt="Image Pricing" />
    </div>
  </div>
</div>
