<div id="review-section" class="review-section">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="reviews owl-carousel owl-theme">
        <div class="review-single">
          <img class="img-circle" src="assets/images/icon.png" alt="Client Testimonoal" />
          <div class="review-text wow fadeInUp" data-wow-delay="0.2s">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum.  Etiam fermentum nisl ac venenatis rhoncus.</p>
            <h3>- Neil Young</h3>
            <h3>Vice President Primal Inc</h3>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
          </div>
        </div>
        <div class="review-single"><img class="img-circle" src="assets/images/icon.png" alt="Client Testimonoal" />
          <div class="review-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum.  Etiam fermentum nisl ac venenatis rhoncus.</p>
            <h3>- Kate Abbot</h3>
            <h3>President Proton LLC</h3>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-ios-star-half"></i>
          </div>
        </div>
        <div class="review-single"><img class="img-circle" src="assets/images/icon.png" alt="Client Testimonoal" />
          <div class="review-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum.  Etiam fermentum nisl ac venenatis rhoncus.</p>
            <h3>- Alice</h3>
            <h3>CEO Marga Holdings</h3>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-ios-star-half"></i>
          </div>
        </div>
        <div class="review-single"><img class="img-circle" src="assets/images/icon.png" alt="Client Testimonoal" />
          <div class="review-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum.  Etiam fermentum nisl ac venenatis rhoncus.</p>
            <h3>- Robert Hammer</h3>
            <h3>Chairman Hammer Corp</h3>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
          </div>
        </div>
        <div class="review-single"><img class="img-circle" src="assets/images/icon.png" alt="Client Testimonoal" />
          <div class="review-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis quis tellus ac vestibulum.  Etiam fermentum nisl ac venenatis rhoncus.</p>
            <h3>- Rita Valentine</h3>
            <h3>Primal Inc</h3>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-star"></i>
            <i class="ion ion-ios-star-half"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
