<div class="cta-sub no-color">
  <div class="container">
    <div class="cta-inner">
      <h1 class="wow fadeInUp" data-wow-delay="0s">Love offers and discounts? Subscribe and save.</h1>
      <p class="wow fadeInUp" data-wow-delay="0.2s">
        Don't worry, we won't need your credit card details. Just enter your <br class="hidden-xs"> email address and we'll take care of the rest.
      </p>
      <div class="form wow fadeInUp" data-wow-delay="0.3s">
        <form id="signup" class="formee" action="assets/php/subscribe.php" method="post">
          <input name="email" id="email" type="text" /><input class="right inputnew" type="submit" title="Send" value="Subscribe" />
        </form>
        <div id="response"></div>
      </div>
    </div>
  </div>
</div>
